/*-------------------------------------------*
/* < 1600px
/*-------------------------------------------*/

@media all and (max-width: 1599px) {

.path-frontpage #site-name {
	font-size: 40px;
}

h1 {
    font-size: 35px;   
}

h2,
.block-title,
.message__title {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

}

/*-------------------------------------------*
/* < 1400px
/*-------------------------------------------*/

@media all and (max-width: 1400px) {

#header {
    padding: 20px 0;
}

#site-name {
    margin: 0 0 20px 0;
}

.path-frontpage #site-name,
#site-name {
	font-size: 30px;
}

}

/*-------------------------------------------*
/* < 1200px
/*-------------------------------------------*/

@media all and (max-width: 1199px) {

body {    
    font-size: 17px;
}

.menu--main > ul.menu,
#block-phones {
    display: none;
}
    
#logo {
    width: 170px; 
	height: 50px;  
}

#featured {
	padding: 0 0 20px 0;
}

.view-services-buttons .services-button {
    padding: 20px;
}

.message,
.promo__text,
.promo__text-inner {    
    padding: 20px;
}

.view-page-image img {
    box-shadow: -20px 20px 0px 0px rgba(0,0,0,0.1);
}

.services-item__description,
.banner__body p {
	font-size: 17px;
}

#main {
    margin: 40px 0;
}

#sidebar-first {
	padding: 0 40px 0 0;
}

#sidebar-second {
	padding: 0 0 0 40px;
}

#featured,
.sidebar .block {
    margin: 0 0 20px 0;
}


#content-bottom .block,
#footer-first .block,
#footer-second .block {
    margin: 0 0 40px 0;
}

.button {
    font-size: 17px;
    padding: 15px 30px;
}

#footer-first, 
#footer-second {
    padding: 40px 0 0 0;
}

}

/*-------------------------------------------*
/* < 992
/*-------------------------------------------*/

@media all and (max-width: 991px) {

.path-frontpage #site-name,
#site-name {
	font-size: 25px;
}

.view-services-block .services-col {
    display: -ms-flexbox;
    display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;	
	margin: 0 -10px;
}

.view-services-block .services-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 0 10px 20px 10px;
    max-width: 50%;
}

.view-services-block .services-item-2 .services-item__image,
.view-services-block .services-item-3 .services-item__image,
.view-services-block .services-item-6 .services-item__image {
    padding-top: 100%;
}

}

/*-------------------------------------------*
/* < 768
/*-------------------------------------------*/

@media all and (max-width: 767px) {

#block-slider-caption,
.view-carousel .doctor__position,
#block-map-image {
    display: none;
}

#header.sticky {
    padding: 10px 0;
}

.region-featured {
    margin-top: -20px;
}

.promo__image,
.promo__text  {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: none;     
}

.promo__image {
    padding: 60% 0 0 0; 
}

.promo__text-inner {    
    margin: -40px 0 0 0;
}

.region-footer-third {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.layout-one-sidebar #content,
.layout-two-sidebars #content,
.layout-one-sidebar .sidebar {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%; 
	max-width: none;
}

#sidebar-first {
    padding: 0 0 40px 0;
}

#sidebar-second {
    padding: 40px 0 0 0;
}

h1 {
	font-size: 25px;
}

h2,
.block-title,
h3 {
	font-size: 20px;
}

h1,
h2,
.block-title,
.promo__title,
.node__content ul,
p {
    margin: 0 0 20px 0;
}

.services-button__icon {
    padding: 2px 0 0 0;
}

.services-button__icon svg {
	width: 35px;
	height: 42px;
}

.services-button h3 {
	margin: 0 0 5px 0;
}

.view-services-block .services-item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: none;
}

.view-carousel .doctor__title {
    position: relative;
    padding: 10px;
    margin: -40px 10px 0 10px;
}

.view-carousel .doctor__name {
    font-size: 14px;
}

#footer-third .block {
    padding: 5px 0;
}

.owl-nav {
    margin: 20px 0 0 0;
}

.field--name-field-doctor-position {
    font-size: 17px;
}

.banner__overlay {
    padding: 40px 20px;
}

.banner__body p span {
    display: inline;
}

th, td {
    padding: 10px;
    font-size: 16px;
}

.region-popup {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: none;
    padding: 60px 20px 20px 20px;
    transform: none;
    overflow-y: auto;
}

.popup-close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    background-color: rgba(0,0,0,0.2);
    background-size: 20px 20px;
}

}

/*-------------------------------------------*
/* 320
/*-------------------------------------------*/

@media all and (max-width: 320px) {

#header {
    padding: 15px 0;
}

}