{#
/**
 * @file
 * Theme override to display a single views grouping.
 *
 * Available variables:
 * - view: The view object.
 * - grouping: The grouping instruction.
 * - grouping_level: A number indicating the hierarchical level of the grouping.
 * - title: The group heading.
 * - content: The content to be grouped.
 * - rows: The rows returned from the view.
 *
 * @see template_preprocess_views_view_grouping()
 */
#}
<div class="doctor">
  <div class="doctor__content">{{ title }}</div>
  <div class="time-picker">
    <h4 class="time-picker__title">{{ 'Choose a time to make an appointment'|t }}</h4>
    <div class="time-picker-slider swiper">
      <div class="time-picker-slider__nav">
        <button class="time-picker-slider__prev"></button>
        <button class="time-picker-slider__next"></button>
      </div>
      <div class="swiper-wrapper">{{ content }}</div>
    </div>    
  </div>
</div>
